/* Open up a div animation */
@keyframes open-widen {
  from {
    width:0;
    margin:auto;
    background-color:$body-bg;
  }

  to {
    width:100%;
    margin:auto;
    background-color: $white;
  }
}

/* fad in animation */
@keyframes fadein {
  from {
    display:none;
    opacity: 0;
  }
  to {
    display:initial;
    opacity: 1;
  }
}



/* animate the glyphicons */
.grow {
	[class*="glyphicon"],
	[class*="icon-"],
	[class^="glyphicon"],
	[class^="icon-"] {
		transition: all .2s ease-in-out;
	}
}

.grow:hover {
	[class*="glyphicon"],
	[class*="icon-"],
	[class^="glyphicon"],
	[class^="icon-"] {
		transform: scale(1.5);
		color:$brand-primary;
	}
}
