/* Open up a div animation */
@keyframes open-widen {
  from {
    width:0;
    margin:auto;
    background-color:$body-bg;
  }

  to {
    width:100%;
    margin:auto;
    background-color: $white;
  }
}

/* fad in animation */
@keyframes fadein {
  from {
    display:none;
    opacity: 0;
  }
  to {
    display:initial;
    opacity: 1;
  }
}
