/*
.panel {
  border-radius: 2px;
  border: 0;

  @include variations(unquote(".panel"), unquote(" > .panel-heading"), background-color, $grey-200);
  @include shadow-z-1;
}


[class*="panel-"] > .panel-heading {
  color:$gray-light;
  border: 0;
}
.panel-default, .panel:not([class*="panel-"]) {
  > .panel-heading {
    color: $text-color;
  }
}
.panel-footer {
  background-color: $grey-200;
}
*/

.panel-heading {
	padding-bottom:0;
}

.panel-body,
.panel-footer {
	padding-top:0;
}

/* in an accordion the panel heading should have no padding... */
.panel-group {
	.panel-heading {
		padding:0;
	}
}


/* a section has padding on the bottom. so does a panel. What to do? */
section.panel {
	padding-bottom:0;
}

/* panels and form give some odd padding. lets do summat... */
.panel {
	.form-group.form-group-lg:first-child {
			margin-top:0;
	}
}
