/* 1. import the original variables file so all variables work! */
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

/* 2. import eValue variables */

@import "bower_components/eValue-bs/sass/_variables.scss";

$gray-lightest:#f1f1f1;
$btn-color:#fff;
$btn-background:$brand-primary;
$btn-border:$brand-primary;
$brand-secondary:#ddd;

@import '_colors';

// Typography elements
//$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$text-color-light:  unquote('rgba(#{$rgb-white}, 0.84)') !default;
$text-color-light-hex: $white !default; // for contrast function in inverse
//$text-color-primary: unquote('rgba(#{$rgb-black}, 0.87)') !default;
//$text-color:$gray;
$text-color-primary-hex: $gray !default; // for contrast function in inverse
$icon-color: rgba(0,0,0,0.5) !default;


$label-color: $gray-light !default;
$label-color-toggle-focus: $gray-light !default;


// import bs variables for less, last declared wins.
//@import '_import-bs-less';

//---
// Converted bs variables

// Bootstrap brand color customization

/*
$border-radius-base: 2px !default;
$border-radius-small: 1px !default;
*/
// Typography
/*
$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$headings-font-weight: 300 !default;

$body-bg: #EEEEEE !default;
*/
//---

// import bs variables for sass, first declared wins.
@import '_import-bs-sass';

// Bootstrap Material Design variables start with mdb-
$brand-inverse: $indigo !default;

/* ANIMATION */
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

$bunghole: #009900;

//---
// FIXME: Similar but not quite the same as Bootstrap variables
// FIXME: these need to either a) be converted to $ or b) converted to bs variables
$contrast-factor: 40% !default;
//---




// --------------------
// inputs
//$input-placeholder-color: #BDBDBD !default;
$input-underline-color: #D2D2D2 !default;
$label-static-size-ratio: 75 / 100 !default;
$help-block-size-ratio: 75 / 100 !default;

//$input-font-size-base: 16px !default;
//$input-font-size-large: ceil(($font-size-base * 1.25)) !default; // ~20px
//$input-font-size-small: ceil(($font-size-base * 0.75)) !default; // ~12px

// FIXME: with #733 customization of bootstrap, consider how these could be based on the original bs customized variables
//** Unit-less 'line-height' for use in components like buttons.
//$input-line-height-base:        $line-height-base; //1.428571429 !default; // 20/14
$input-line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px
$input-line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$input-line-height-small:         1.5 !default;

//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$input-padding-base-vertical:     8px - 1px !default; // was 6.
$input-padding-base-horizontal:   0 !default; // was 12.
$label-as-placeholder-shim-base:  0 !default; // manual adjustment of label top when positioned as placeholder
$label-top-margin-base:           16px !default;

$input-padding-large-vertical:    10px - 1px !default; // 10
$input-padding-large-horizontal:  0 !default;  // 16
$label-as-placeholder-shim-large: -4px !default; // manual adjustment of label top when positioned as placeholder
$label-top-margin-large:          16px !default;

$input-padding-small-vertical:    4px - 1px !default; // 5
$input-padding-small-horizontal:  0 !default; // 10
$label-as-placeholder-shim-small: 8px !default; // manual adjustment of label top when positioned as placeholder
$label-top-margin-small:          12px !default;

$input-padding-xs-vertical:       2px !default; // 1
$input-padding-xs-horizontal:     0 !default; // 5

$input-border-radius-base:        0 !default;
$input-border-radius-large:       0 !default;
$input-border-radius-small:       0 !default;


//** Default '.form-control' height
$input-height-base:              ($input-line-height-computed + ($input-padding-base-vertical * 2) + 2) !default;
//** Large '.form-control' height
$input-height-large:             (ceil($font-size-large * $input-line-height-large) + ($input-padding-large-vertical * 2) + 2) !default;
//** Small '.form-control' height
$input-height-small:             (floor($font-size-small * $input-line-height-small) + ($input-padding-small-vertical * 2) + 2) !default;




// Card
$card-body-text: $text-color !default;
$card-body-background: #fff !default;
$card-image-headline: #fff !default;

$text-disabled: #a8a8a8 !default;
$background-disabled: #eaeaea !default;

// Checkboxes
$checkbox-size: 20px !default;
$checkbox-animation-ripple: 500ms !default;
$checkbox-animation-check: 0.3s !default;
$checkbox-checked-color: $brand-primary !default;

$checkbox-border-width: 2px !default;
//$checkbox-label-color: $label-color !default;
$checkbox-border-color: $label-color-toggle-focus !default;

// Popovers and Popups
$popover-background: rgba(101, 101, 101, 0.9) !default;
$popover-color: #ececec !default;

// Dropdown Menu
$dropdown-font-size: 16px !default;

// Toggle
$toggle-label-color: $gray-light !default;

// Radio:
$radio-label-color: $label-color !default;
$radio-color-off: $label-color-toggle-focus !default;
$radio-color-on: $brand-primary !default;

// Buttons:
$btn-font-size-base: 14px !default;
$btn-font-size-lg: 16px !default;
$btn-font-size-sm: 12px !default;
$btn-font-size-xs: 10px !default;


$btn-background-color: $gray-lightest; //transparent !default;
$btn-background-color-text: $text-color !default;


$mdl-btn-border-radus: 2px !default;

$btn-fab-size: 56px !default;
$btn-fab-size-mini: 40px !default;
$btn-fab-font-size: 24px !default;

$btn-icon-size: 32px !default;
$btn-icon-size-mini: 24px !default;

/* SHADOWS */
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
